

.conteiner {
  display: flex;
  background-color: rgb(216, 191, 172);
  justify-content: space-around;
  padding: 2%;
}
.hijo {
  color: white;
  font-size: medium;
  font-family: "PT Sans Narrow", sans-serif;
}

.footer_conteiner {
  display: flex;
  background-color: white;
  width: 100%;
  padding: 3%;
  justify-content: flex-end;
  justify-content: center;
}
