.flexbox__primero {

  display: inline-block;
  background-color: rgb(216, 191, 172);
  width: 100%;
  padding: 3%;
  
}
.titulo {
  font-size: large;
  color: white;
  font-family: "PT Sans Narrow", sans-serif;
}

.hijo {
  display: inline;
  color: white;
}

.imgIndex {
  text-align: center;
  width: 200px;
  height: 250px;
  padding: 5px 5px;
}
.center {
  text-align: center;
}


.flexbox__conteiner {
  display: flex;
  background-color: white;
  width: 100%;
  padding: 3%;
  justify-content: space-evenly;
}
.title {
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: small;
  font-weight: bold;
  color: rgb(216, 191, 172);
}

.hijito {
  width: 450px;
  height: 350px;
  color: white;
  font-family: "PT Sans Narrow", sans-serif;
  background-color: rgb(216, 191, 172);
  margin: 0px 15px;
}

.footer_conteiner {
  display: flex;
  background-color: white;
  width: 100%;
  padding: 3%;
  justify-content: flex-end;
  justify-content: center;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

nav li{
 list-style: none;

}

nav a{
  text-decoration: none;
 color: white;
 }

 @media screen and (max-width: 768px){
  nav ul {
    display: block;
    text-align: center;
  }
  .flexbox__conteiner {
    flex-direction: column;
  }
  .hijito{
    width: 95%;
    height: auto;
    margin-bottom: 30px;
  }
 }